/* Custom Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default;
}

/* custom daisy ui color theme */
@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #403f3f; /* primary button or cta(call to action) color. */
  --color-secondary: #d72050; /* secondary button or cta color. */

  --color-base-200: #f3f3f3; /* secondary back-ground color */
  --color-base-300: #e7e7e7; /* third back-ground color */

  --color-accent: #706f6f; /* primary text-color */
  --color-accent-2: #403f3f; /* secondary color */
}

* {
  font-family: "Poppins", sans-serif;
}
